# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules/
/backend/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.vscode/
.idea/
*.swp

# OS specific files
Thumbs.db
desktop.ini

# 백엔드 관련
/backend/node_modules
/backend/.env

# Temporary files
*.log
*.tmp
*.key
*.pem